# Credentials & secrets
venv/
.env
service_account.json

# Database & vector memory
pipeline.db
chroma_db/

# Logs
system.log

__pycache__/
*.pyc
*.pyo

# Mac system files
.DS_Store

#Shopify
shopify.app.toml
package.json
package-lock.json